# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
node_modules/

# production
/components/
/assets/
/hooks/
/constants/
/scripts/
/apps/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Environments
.venv/
venv/
env/
ENV/
.conda/
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyos

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Type checkers / linters
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/s
